<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Veil</title>
</head>
<body>
     
     <div class="titleBlog">
             <h3>BY KATHRYN DAVIES</h3>
             <h1>My Veil, a <span>skin care</span> and <span>self-care</span> blog</h1>
     </div>
     <div class="cta">
             <img src="" alt="">
             <a href="" class="buttonOutline">
                     <p>View the lastest post</p>
                     <img src="" alt=""></a>
     </div>
     <div class="3rdSection">
             <img src="" alt="">
             <div class="descriptionBlog">
                     <hr>
                     <p>Almost half of all the renewable electricity installed between 2000 and 2010 was wind power in the U.S. alone, although wind power now only makes up about 1.5 percent of global energy.</p>
             </div>
     </div>
     <footer>
             <hr>
             <p>made with <img src="" alt=""> by <a href="#">Luiza Dragonetti</a></p>
     </footer>
</body>
</html>