<nav>
             <a href="#" id="logo">My Veil</a>
             <ul>
                     <li><a href="http://">About me</a></li>
                     <li><a href="http://">Reviews</a></li>
                     <li><a href="http://">Tags</a></li>
                     <li><a href="http://">Contact</a></li>
             </ul>
     <div class="social">
             <a href="http://" id="insta"><img src="" alt=""></a>
             <a href="http://" id="fb"><img src="" alt=""></a>
             <a href="http://" id="tt"><img src="" alt=""></a>
     </div>
</nav>